@import "./variables/variables.scss";
.navbar {
    background-color: rgba($color: #fafafa, $alpha: 1);
    border-bottom: 4px solid $main-dark-color;
    color: $main-dark-color;
    text-shadow: none;
    min-height: 3em;
    height: 10vh;
    &__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__links {
        // position: relative;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        // position: absolute;
        margin-left: 1em;
        transition: 0.5s;
    }
    &__link:hover,
    &__link:focus {
        text-decoration: underline;
    }
    &__logo {
        height: 3em;
    }
}

.active {
    font-weight: bold;
    text-decoration: underline;
    // color: #418660;
    // text-shadow: 1px 1px 1px #fafafa;
}